:root {
    --lightgray:#ebebeb;
    --mediumgray:#888;
    --darkgray:#444;
    --gray:#ccc;
    --blue: #1a73e8;
--black:#222;
    font-size:16px;
}
body {
    width:1300px;
    color:var(--black);
}
header {
    width: calc(100% - 60px);
    padding: 30px 30px 0;
    border-bottom: 1px solid var(--lightgray);
    display: grid;
    grid: min-content min-content / 125px 675px auto;
}

#searchbox {
    display: flex;
    align-items: center;
    grid-area:1/1 / 2/3;
}

#searchbox button {
    border:0;
    background:transparent;
    padding:0 10px;
    font-size:20px;
    line-height:16px;
    cursor:pointer;
}

#searchbox #search-reset {
    color:var(--mediumgray);
    border-right:1px solid var(--lightgray);
}

#searchbox #search-submit {
    color:var(--blue);
    margin-left:5px;
}
#searchlabel {
    width:100px;
    margin-right:25px;
}

#searchlabel img {
    display:block;
    width:100%;
}

input#search {
    padding:13px 100px 13px 25px;
    margin-right:-100px;
    border-radius:25px;
    border:0;
    box-shadow:0 2px 5px rgba(0,0,0,20%);
    font:1rem/1 arial;
    flex-grow:1;
}

#search-type {
    grid-area:2/2 / 2/3;
}

#user-controls {
    justify-self: end;
    display:flex;
    align-items:center;
    gap:25px;
}

#user-controls a {
    color:var(--darkgray);
}

#user-controls .sign-in {
    background:var(--blue);
    padding:10px 20px;
    font:0.75rem arial;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
}

#search-type {
    margin-top:13px;
    display:flex;
}

#search-type button {
 border:0;
 padding:10px 0;
 background:transparent;
 border-bottom:3px solid transparent;   
 font:0.75rem arial;
 color:var(--mediumgray);
 display:flex;
 align-items:center;
 margin-left:22px;
}

#search-type button .material-icons-outlined {
    font-size:1.25rem;
    margin-right:5px;
}

#search-type button:hover {
    cursor:pointer;
}

#search-type button.active {
    border-color:var(--blue);
}

#search-type button.active .material-icons-outlined {
    color:var(--blue);
}

#search-type button[value=search-tools] {
    color:var(--mediumgray);
    flex-grow:1;
    text-align:right;
    padding-right:20px;
    justify-content:flex-end;
}

main {
    width: 640px;
    margin-left: 177px;
    display:grid;
}

main .search-results {
    padding:15px 0;
    color:var(--mediumgray);
    font:0.75rem arial;
}

main .featured-snippit .image-preview {
    display:flex;
    flex-flow:column wrap;
    width:100%;
    border-radius:7px;
    overflow:hidden;
    height:125px;
    gap:3px;
}

main .featured-snippit .image-preview article {
    width:175px;
    display:flex;
    place-content:center;
    background:var(--lightgray);
    overflow:hidden;
}

main .featured-snippit .image-preview img {
    display:block;
    height:100%;
}

main .featured-snippit .snippit-title {
    font:2rem/1 'roboto';
    padding:20px 0;
    letter-spacing:-1px;
}

main .featured-snippit .snippit-body {
    font:1rem/1.5 'roboto';
}

main .featured-snippit .snippit-body strong {
    font-weight:700;
}

main .featured-snippit .snippit-body em {
    font-size:0.75rem;
    color:var(--mediumgray);
    margin-left:5px;
}

main .featured-snippit a.snippet-link {
    display:block;
    font:1.25rem/1 'roboto';
    margin-top:25px;
    margin-bottom:20px;
    text-decoration:none;
}

main .featured-snippit a.snippet-link .snippet-hyperlink {
display:flex;
align-items:center;
color:var(--mediumgray);
font-size:.9rem;
text-decoration:none;
margin-bottom:10px;
}

main .featured-snippit a.snippet-link em {
    color:var(--black);
    margin-right:3px;
}

main .featured-snippit a.snippet-link .material-icons-outlined {
    font-size:1.25rem;
    margin-left:15px;
}

main .featured-snippit .snippet-footer {
display:flex;
align-items:center;
gap:10px;
font:0.75rem roboto;
color:var(--darkgray);
}

main .featured-snippit .snippet-footer a {
    display:flex;
    align-items:center;
    text-decoration:none;
}

main .featured-snippit .snippet-footer a span {
    margin-right:10px;
    font-size:1rem;
    
}
main .featured-snippit .snippet-footer a:hover span {
    text-decoration:none;
}

main .featured-snippit .snippet-footer a:hover {
    text-decoration:underline;
}

.flex-grow {
    flex-grow:1;
    height:1px;
    background-color:var(--gray);
}

main .featured-snippit .snippet-footer a {
    color:var(--mediumgray);
}

.search-suggest {
    display:flex;
    flex-flow:column nowrap;
    margin-top:40px;
}

.search-suggest .suggest-header {
    font:1.25rem/1 'roboto';
    padding:0 0 15px;
}

.search-suggest .suggest-header span {
    font-size:1rem;
    margin-left:5px;
    color:gray;
}

.search-suggest a {
    border-top:1px solid var(--lightgray);
    padding:10px 0;
    text-decoration:none;
    font:1rem 'roboto';
    color:var(--black);
    display:flex;
    align-items:center;
}

.search-suggest a span {
    flex-grow:1;
    text-align:right;
    font-size:1.5rem;
    line-height:1rem;
    color:gray;
}

.search-suggest a img {
    width:40px;
    margin-right:15px;
    display:block;
}

.suggest-footer {
    display:flex;
    font:0.75rem 'roboto';
    color:gray;
    align-items:center;
    margin-bottom:25px;
}

.suggest-footer .flex-grow {
    margin-right:10px;
}
.search-item {
    display:flex;
    flex-flow:column nowrap;
    margin-top:25px;
}
.search-item a {
text-decoration:none;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    font:1.25rem 'roboto';
}
.search-item small {
    font:0.9rem 'roboto';
    width:100%;
    flex-shrink:0;
    margin-bottom:5px;
    color:var(--black);
    display:flex;
    align-items:center;
    text-decoration:none;
}

.search-item small span {
    color:var(--darkgray);
    margin-left:5px;
}

.search-item div {
    margin-bottom:5px;

}

.search-item div:hover {
    text-decoration:underline;
}

.search-item a .material-icons-outlined {
    font-size:1rem;
    margin-left:20px;
}

.search-item p {
    font:1rem/1.5rem 'roboto';
    color:var(--darkgray);
}

.search-item p em {
    color:gray;
}

.search-item p strong {
    font-weight:700;
}

.open-on-load {
    flex-flow:row wrap;
    color:red;
}

#image-gallery {
    width:100%;
    display:flex;
    margin-top:25px;
    font-size:0.9rem;
    gap:10px;
}

#image-gallery div {
    width:100px;
    height:200px;
    position:relative;
}

#image-gallery img {
    width:100%;
    display:block;
    border-radius:10px;
    margin-bottom:10px;
}

#image-gallery div:before {
    content:'';
    width:100%;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,5%);
    pointer-events:none;
    border-radius:10px;
}

a.see-more {
    border:1px solid var(--lightgray);
    width:40%;
    align-self:center;
    margin-bottom:25px;
    position:relative;
    justify-content:center;
    border-radius:25px;
    font-size:0.9rem;
    color:revert;
    padding:10px 25px;
}
a.see-more:hover {
    background:rgba(0,0,0,2%);
}
.see-more .material-icons-outlined {
    position:absolute;
    left:10px;
    color:revert;
    font-size:1.25rem;
}

.other-searches {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px 20px;
    margin:0px;
}

.other-searches a {
    background:var(--lightgray);
    border-radius:50px;
    display:flex;
    padding:5px 25px 5px 0;
    text-decoration:none;
    font:1rem 'roboto';
    color:var(--black);
    align-items:center;
    min-height:38px;
}

.other-searches a span {
    padding:0 25px;
    display:grid;
    place-items:center;
    font-size:1.25rem;
    color:var(--mediumgray);
}

.other-searches a strong {
    font-weight:700;
}

.other-searches a:hover div {
    text-decoration:underline;
}

.pagination {
    display:flex;
    position:relative;
    gap:2px;
    margin:50px auto;
}

.pagination .page {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    font:.9rem/1 'roboto';
    text-decoration:none;
    color:var(--black);
    position:relative;
}
.pagination a.page {
    color:var(--blue);
}

.pagination a.page:hover .number {
    text-decoration:underline;
}
.pagination .page .logo {
    background-image:url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    height:40px;
    width:20px;
    background-size:cover;
    background-position:bottom 0 right 72px;
}

.pagination .page .logo.current {
    background-position:bottom 0 right 51px;
}

.page.first:before {
    content:'';
    position:absolute;
    top:0;
    left:-32px;
    background-image:url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    height:40px;
    width:30px;
    background-size:cover;
    background-position:bottom 0 right 148px;
}

.page.last:before {
    content:'';
    position:absolute;
    top:0;
    right:-48px;
    background-image:url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png);
    height:40px;
    width:46px;
    background-size:cover;
    background-position:bottom 0 right 0px;
    pointer-events:none;
} 

.page.first {
    margin-left:33px;
}

a.next-page {
    margin-left:50px;
    padding-left:10px;
    display:flex;
    flex-flow:column nowrap;
    font:.9rem/1 'roboto';
    color:var(--blue);
    text-decoration:none;
}

.next-page .material-icons-outlined {
    height:40px;
    display:grid;
    place-items:center;
}

a.next-page:hover div {
    text-decoration:underline;
}

footer {
    width:calc(100% - 177px);
    background:var(--lightgray);
    padding:25px 0 25px 177px;
    display:flex;
    flex-flow:row wrap;
    gap:20px;
    font:0.9rem 'roboto';
    color:var(--mediumgray);
}

footer div {
    width:100%;
}

footer div .material-icons {
    font-size:0.75rem;
    margin-right:5px;
}

footer strong {
    font-weight:700;
    color:var(--black);
}

footer a {
    text-decoration:none;
    color:var(--mediumgray);
}

footer a:hover {
    text-decoration:underline;
}
