:root {
    --lightgray:#eee;
    --mediumgray:#888;
    --blue: rgb(137, 182, 250);
}

header {
    width:calc(100% - 50px);
    padding:25px;
    border-bottom:1px solid var(--lightgray);
}

#searchbox {
    display:flex;
    align-items:center;
}

#searchbox button {
    border:0;
    background:transparent;
    padding:0 10px;
    font-size:20px;
    line-height:16px;
}

#searchbox #search-reset {
    color:var(--mediumgray);
    border-right:1px solid var(--lightgray);
}

#searchbox #search-submit {
    color:var(--blue);
    margin-left:5px;
}
#searchlabel {
    width:100px;
    margin-right:25px;
}

#searchlabel img {
    display:block;
    width:100%;
}

input#search {
    padding:12.5px 100px 12.5px 25px;
    margin-right:-100px;
    border-radius:25px;
    border:0;
    box-shadow:0 0 5px rgba(0,0,0,20%);
    font:16px/1 arial;
}