:root {
    --lightgray:#eee;
    --mediumgray:#888;
    --darkgray:#444;
    --blue: #1a73e8;
    font-size:16px;
}
body {
    width:1300px;
}
header {
    width: calc(100% - 60px);
    padding: 30px 30px 0;
    border-bottom: 1px solid var(--lightgray);
    display: grid;
    grid: min-content min-content / 125px 675px auto;
}

#searchbox {
    display: flex;
    align-items: center;
    grid-area:1/1 / 2/3;
}

#searchbox button {
    border:0;
    background:transparent;
    padding:0 10px;
    font-size:20px;
    line-height:16px;
    cursor:pointer;
}

#searchbox #search-reset {
    color:var(--mediumgray);
    border-right:1px solid var(--lightgray);
}

#searchbox #search-submit {
    color:var(--blue);
    margin-left:5px;
}
#searchlabel {
    width:100px;
    margin-right:25px;
}

#searchlabel img {
    display:block;
    width:100%;
}

input#search {
    padding:13px 100px 13px 25px;
    margin-right:-100px;
    border-radius:25px;
    border:0;
    box-shadow:0 2px 5px rgba(0,0,0,20%);
    font:1rem/1 arial;
    flex-grow:1;
}

#search-type {
    grid-area:2/2 / 2/3;
}

#user-controls {
    justify-self: end;
    display:flex;
    align-items:center;
    gap:25px;
}

#user-controls a {
    color:var(--darkgray);
}

#user-controls .sign-in {
    background:var(--blue);
    padding:10px 20px;
    font:0.75rem arial;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
}

#search-type {
    margin-top:13px;
    display:flex;
}

#search-type button {
 border:0;
 padding:10px 0;
 background:transparent;
 border-bottom:3px solid transparent;   
 font:0.75rem arial;
 color:var(--mediumgray);
 display:flex;
 align-items:center;
 margin-left:22px;
}

#search-type button .material-icons-outlined {
    font-size:1.25rem;
    margin-right:5px;
}

#search-type button:hover {
    cursor:pointer;
}

#search-type button.active {
    border-color:var(--blue);
}

#search-type button.active .material-icons-outlined {
    color:var(--blue);
}

#search-type button[value=search-tools] {
    color:var(--mediumgray);
    flex-grow:1;
    text-align:right;
    padding-right:20px;
    justify-content:flex-end;
}

main {
    width: 635px;
    margin-left: 177px;
    
}

main .search-results {
    padding:15px 0;
    color:var(--mediumgray);
    font:0.75rem arial;
}

main .featured-snippit .image-preview {
    display:flex;
    flex-flow:column wrap;
    width:100%;
    border-radius:7px;
    overflow:hidden;
    height:125px;
    gap:3px;
}

main .featured-snippit .image-preview article {
    width:175px;
    display:flex;
    place-content:center;
    background:var(--lightgray);
    overflow:hidden;
}

main .featured-snippit .image-preview img {
    display:block;
    height:100%;
}

main .featured-snippit .snippit-title {
    font:2rem/1 'roboto';
    padding:20px 0;
}